.oleo-script-swash-caps-regular {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-swash-caps-bold {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 700;
  font-style: normal;
}

.literata-<uniquifier {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
}
h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

footer {
  font-family: "Literata", serif;
}
